target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache


### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

### Data Directory ###
BenchmarkSQL_Pakistan/src/main/resources/data/
BenchmarkNoSQL_Pakistan/src/main/resources/data/
BenchmarkNoSQL/src/main/resources/data/
BenchmarkSQL/src/main/resources/data/
BenchmarkSQL/src/main/resources/data/
BenchmarkSQLArbnb/src/main/resources/data/
BenchmarkNoSQLArbnb/src/main/resources/data/

.env

/TCC-DB-DATA/

